node-red/serever.json
[{"id":"be7478b4.c80148","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9dcf90d.f00bb7","type":"inject","z":"be7478b4.c80148","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello CPE 405","payloadType":"str","x":180,"y":60,"wires":[["dd004acc.640cf8"]]},{"id":"dd004acc.640cf8","type":"debug","z":"be7478b4.c80148","name":"hello ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":60,"wires":[],"info":"Hello CPE405"},{"id":"744f2698.242928","type":"mqtt out","z":"be7478b4.c80148","name":"","topic":"project","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cbc2512f.ff9da","x":450,"y":240,"wires":[]},{"id":"44bd4b2d.503904","type":"inject","z":"be7478b4.c80148","name":"on","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"project","payload":"on","payloadType":"str","x":150,"y":240,"wires":[["744f2698.242928"]]},{"id":"98a7fe66.b00b4","type":"mqtt in","z":"be7478b4.c80148","name":"Plublish","topic":"project","qos":"0","datatype":"auto","broker":"cbc2512f.ff9da","nl":false,"rap":true,"rh":0,"x":130,"y":160,"wires":[["ef78a9da.763268"]]},{"id":"ef78a9da.763268","type":"debug","z":"be7478b4.c80148","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":160,"wires":[]},{"id":"d8a13430.8c7788","type":"inject","z":"be7478b4.c80148","name":"off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"project","payload":"off","payloadType":"str","x":140,"y":320,"wires":[["581ed671.b65438"]]},{"id":"581ed671.b65438","type":"mqtt out","z":"be7478b4.c80148","name":"","topic":"project","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cbc2512f.ff9da","x":450,"y":320,"wires":[]},{"id":"74f8e7b0.7a0f68","type":"ui_button","z":"be7478b4.c80148","name":"","group":"58164a99.249474","order":1,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Hello Button","payloadType":"str","topic":"project","topicType":"msg","x":630,"y":60,"wires":[["a1610e8d.4571b","a21510e.ce4dff"]]},{"id":"a1610e8d.4571b","type":"debug","z":"be7478b4.c80148","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":60,"wires":[]},{"id":"a21510e.ce4dff","type":"ui_text","z":"be7478b4.c80148","group":"58164a99.249474","order":2,"width":0,"height":0,"name":"","label":"message","format":"{{msg.payload}}","layout":"row-left","x":860,"y":160,"wires":[]},{"id":"7f2a60bc.9831a","type":"ui_button","z":"be7478b4.c80148","name":"","group":"58164a99.249474","order":3,"width":0,"height":0,"passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":" ","payloadType":"str","topic":"project","topicType":"msg","x":630,"y":160,"wires":[["a21510e.ce4dff"]]},{"id":"78a57c46.c46e94","type":"serial in","z":"be7478b4.c80148","name":"","serial":"9edfe420.cfa0b8","x":630,"y":260,"wires":[["6e39ddce.b95714","beebe939.9175b8"]]},{"id":"6e39ddce.b95714","type":"ui_gauge","z":"be7478b4.c80148","name":"","group":"58164a99.249474","order":3,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"1200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"300","seg2":"600","x":850,"y":260,"wires":[]},{"id":"beebe939.9175b8","type":"debug","z":"be7478b4.c80148","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":320,"wires":[]},{"id":"98d2dff9.3d0db","type":"ui_button","z":"be7478b4.c80148","name":"","group":"58164a99.249474","order":6,"width":0,"height":0,"passthru":false,"label":"water","tooltip":"stop","color":"","bgcolor":"","icon":"","payload":"run","payloadType":"str","topic":"project","topicType":"msg","x":110,"y":660,"wires":[["8f8cfb27.0a64b8","c829482e.320e38"]]},{"id":"fbd64994.b74128","type":"ui_button","z":"be7478b4.c80148","name":"","group":"58164a99.249474","order":4,"width":0,"height":0,"passthru":false,"label":"Turn On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"project","topicType":"msg","x":120,"y":460,"wires":[["f36ee120.e11f","585669f.0785098"]]},{"id":"f36ee120.e11f","type":"function","z":"be7478b4.c80148","name":"","func":"if(msg.payload == 'on')\n    {\n        msg.pyload = '1'\n    }\n    if(msg.payload == 'off')\n    {\n        msg.pyload = '0'\n    }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":460,"wires":[["48a54880.f32358"]]},{"id":"48a54880.f32358","type":"serial out","z":"be7478b4.c80148","name":"","serial":"9b5a69ec.4d53e8","x":670,"y":460,"wires":[]},{"id":"adb32a2d.4409c8","type":"mqtt in","z":"be7478b4.c80148","name":"","topic":"project","qos":"1","datatype":"auto","broker":"cbc2512f.ff9da","nl":false,"rap":true,"rh":0,"x":110,"y":400,"wires":[["f36ee120.e11f"]]},{"id":"c3d74c4d.bee13","type":"ui_button","z":"be7478b4.c80148","name":"","group":"58164a99.249474","order":5,"width":0,"height":0,"passthru":false,"label":"Turn Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"off","payloadType":"str","topic":"project","topicType":"msg","x":120,"y":520,"wires":[["f36ee120.e11f","585669f.0785098"]]},{"id":"73d7623b.f28f4c","type":"mqtt in","z":"be7478b4.c80148","name":"","topic":"project","qos":"2","datatype":"auto","broker":"cbc2512f.ff9da","nl":false,"rap":true,"rh":0,"x":110,"y":600,"wires":[["8f8cfb27.0a64b8"]]},{"id":"6f176fbe.bf1c3","type":"ui_button","z":"be7478b4.c80148","name":"","group":"58164a99.249474","order":7,"width":0,"height":0,"passthru":false,"label":"stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"stop","payloadType":"str","topic":"project","topicType":"msg","x":110,"y":720,"wires":[["8f8cfb27.0a64b8","c829482e.320e38"]]},{"id":"8f8cfb27.0a64b8","type":"function","z":"be7478b4.c80148","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":660,"wires":[["7b792738.4a0e58"]]},{"id":"7b792738.4a0e58","type":"serial out","z":"be7478b4.c80148","name":"","serial":"9b5a69ec.4d53e8","x":650,"y":660,"wires":[]},{"id":"585669f.0785098","type":"debug","z":"be7478b4.c80148","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":580,"wires":[]},{"id":"c829482e.320e38","type":"debug","z":"be7478b4.c80148","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":740,"wires":[]},{"id":"cbc2512f.ff9da","type":"mqtt-broker","name":"hiveme","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"58164a99.249474","type":"ui_group","name":"group1","tab":"c9279943.f23678","order":1,"disp":true,"width":"6","collapse":false},{"id":"9edfe420.cfa0b8","type":"serial-port","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"9b5a69ec.4d53e8","type":"serial-port","serialport":"COM3","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"c9279943.f23678","type":"ui_tab","name":"tab1","icon":"dashboard","disabled":false,"hidden":false}]